argparse
beautifulsoup4
chardet
docx
lxml
openai
openpyxl
pandas
python-docx
python-pptx
pyxlsb
requests
torch
tqdm
transformers
xlrd
xlwt
pyenchant
Flask
flask-restful
python-magic
chardet
odfpy
beautifulsoup4
lxml
html5lib
bs4
striprtf
mammoth
sentencepiece
